
# Document ID to read from, provided in the URL
# https://docs.google.com/spreadsheet/ccc?key=<DOCUMENT_ID>
DOCUMENT_ID = "..."

# Create a client ID and secret according to
# https://developers.google.com/drive/web/auth/web-server
CLIENT_ID = "..."
CLIENT_SECRET = "..."

