
# Create a client ID and secret according to
# https://developers.google.com/drive/web/auth/web-server
CLIENT_ID = "..."
CLIENT_SECRET = "..."

# After setting CLIENT_ID and CLIENT_SECRET, run ./create-access-token.rb
# and save the resulting access token here:
CLIENT_ACCESS_TOKEN = "..."

# Document ID to read from, provided in the URL
# https://docs.google.com/spreadsheet/ccc?key=<DOCUMENT_ID>
DOCUMENT_ID = "..."


